{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Flask Routes</h1>
<p class="lead">This Flask app shows some simple examples of routes in Flask as well as how to differentiate between different HTTP Methods. e.g. GET and POST.</p>
<p>You may try the following routes and see what the output is:</p>
<ul>
  <li><a href="/about">Default About Page</a> - The route is <code>/about</code></li>
  <li><a href="/about/Tom">Learn about Tom</a> - The route is <code>/about/Tom</code></li>
  <li><a href="/add/5/11">Add 5 + 11</a> - The route is <code>/add/5/11</code>. Only integers allowed.</li>
  <li><a href="/add-floats/2.3/7.7">Add 2.3 + 7.7</a> - The route is <code>/add-floats/2.3/7.7</code> Only floats allowed.</li>
  <li><a href="/post/1">View a static blog post</a> - The route is <code>/post/1</code></li>
  <li><a href="/robots.txt">Return a static file</a> - The route is <code>/robots.txt</code></li>
</ul>
{% endblock %}
